// Variable overrides
$border-radius:               .01rem !default;
$border-radius-lg:            .01rem !default;
$border-radius-sm:            .01rem !default;
@import "~bootstrap/scss/bootstrap";
